body{
    background:linear-gradient(skyblue, lightgreen);
    background-repeat: no-repeat ;
    background-attachment: fixed;
}
h1{
    border-top-style: dotted;
    border-bottom-style: dotted;
    border-left-style: double;
    border-left-width: 10px;
    border-left-color: brown;
    margin-right: 100px;
    margin-left: 100px;
    text-shadow: 0px 0px 5px red;
    box-shadow: 5px 5px 5px;
   
}
p1{
    border-style: solid;
    border-width: 5x;
    border-color: gold;
    border-radius: 10px;
    padding: 10px;
    background:linear-gradient(skyblue, lightgreen);
    background-repeat: no-repeat ;
    background-attachment: fixed;
}
body{
    background-image: url("picture.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
#box1{
    border: 5x solid;
    width: 250px;
    height: 250px;
    font-size: 22px;
    background: greenyellow;
    padding: 10px;
    margin-top: 20px;
    margin-left: 60px;
    
}
#box2{
    border: 5x solid;
    width: 250px;
    height: 250px;
    font-size: 22px;
    background: rgb(89, 47, 255);
    margin: 100px;
    padding: 5px;
}
body{
    margin: 10px;
}